<style>
    @keyframes fade {
      0% { opacity: 0; }
      50% { opacity: 1; }
      100% { opacity: 0; }
    }
    
    .fade-in-out {
      animation: fade 3s infinite;
    }
    </style>
    
<div class="ml-40 mr-40 mb-10 pl-40 pr-40 pb-5 bg-gray-300">
    <div class="uppercase flex items-center justify-between text-3xl font-bold">
        <article class="text-blue flex flex-col items-center justify-center">
                <h1 class="fade-in-out">Finalizado</h1>
                <img src="/pegatina.jpg" alt="La Pegatina">
        </article>
        <article class="text-blue flex flex-col items-center justify-center">
                <h1 class="fade-in-out">Finalizado</h1>
                <img src="/superlatino.jpg" alt="La Pegatina">
        </article>
        <article class="text-blue flex flex-col items-center justify-center">
                <h1 class="fade-in-out">Finalizado</h1>
                <img src="/los2000.jpg" alt="La Pegatina">
        </article>
    </div>
</div>
<div class="flex justify-center bg-black pb-4 pt-4">
    <h1 class="uppercase text-3xl font-bold text-amber-300 fade-in-out">ENTRADAS AGOTADAS</h1>
</div>